<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            conditions
        </h1>
        <h1>
           {% if a > b %}
            <h1>a is greater than b </h1>

        </h1>
        <h1>
            {% endif %}
        </h1>
        <h1>
            {% if a > b %}
            <h1>a is greater than b</h1>
        </h1>
        <h1>
            {% else %}
            <h2>
                b is greater than a
            </h2>
            <h3>
                {% endif %}
            </h3>
        </h1>
        <h1>
            {% if a > b  %}
            <h2>
                a is max
            </h2>
            <h3>
                {% elif b > c %}
                <h4>
                    b is max
                </h4>
                {% else  %}
                  c is max

                <h1>
                    {% endif %}
                </h1>
                    


            </h3>
        

    </center>
    
</body>
</html>